body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#answerButton {
  font-size: 14px;
  
}

#loginMain {
  /* background-color: blue; */
  /* height: 100vh; */
}

#profileName {
  font-size: 2rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

